body{
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
}
header{
  display: flex;
  width: 100%;
  height: 69px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid seashell;
  background-color: black;
  margin-top: 0px;
}
nav span{
  display: inline-block;
  padding: 20px 0px 20px 0;
  margin-left: 60px;
  text-decoration:underline;
  text-align: right;
}
.logo{
  display:flex;
  width: 60%;
  margin-left: 10px;
  margin-bottom: 5px;
}
nav a{
  color: seashell;
}
.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#mission{
  background-image: url(./images/img-mission-background.jpg);
  width: 1200px;
  height: 700px;
  margin-left: 60px;
}
.content{
  width: 1200px;
  height: 130px;
  background-color: black;
  margin-top: 300px;
}
.products{
  height: 700px;
  width: 1000px;
  margin-left: 150px;
  padding-top: 70px;
}
.picture img{
  display: flex;
  padding: 10px 15px;
}
#locations{
  background-image: url(./images/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
  margin-left: 60px;
  background-repeat: no-repeat;
}
.location{
  display: flex;
  height: 260px;
  flex-basis: 200px;
  padding: 15px 60px;
  opacity: 1;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  margin: 40px;
}
#locations h2{
  margin-right: 80px;
}
.flex-container.location {
  background-color: transparent;
}
